@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
    src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('../css/GmarketSans/GmarketSansTTFBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../css/GmarketSans/GmarketSansTTFBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
    src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('../css/GmarketSans/GmarketSansTTFMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../css/GmarketSans/GmarketSansTTFMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
    src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('../css/GmarketSans/GmarketSansTTFLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../css/GmarketSans/GmarketSansTTFLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}